html,
body {
  width: 100%;
  height: 100%;
  /* scroll-behavior: smooth;
  overflow-x: hidden;
  background-repeat: repeat-y;
  background-size: cover;
  text-decoration: none; */
}
.h-color{
  color: #194350;
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {

  color: #194350;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #194350;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #194350;
  box-shadow: 1px 2px 10px rgb(0, 0, 0);
}

.navbar.active .nav-link {
  color: white;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: white;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: white;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      /* background: #194350; */
      background-image: linear-gradient(135deg, #194350 0%, #19435085 100%);
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: rgb(32, 169, 223);
  }
  
}



.text-small {
  font-size: 0.9rem !important;
}


body {
  min-height: 110vh;
  background-color: #ffffff;
  background-image: linear-gradient(150deg, #FFD3B4 0%,#c25609  100%);
}

.b-0 {
  bottom: 0;
}
.bg-shadow {
  background: rgba(76, 76, 76, 0);
  background: webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
  background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
  right: 0;
  top: 1rem;
  bottom: inherit;
  left: inherit;
  margin-right: 1rem;
}
.overflow {
  position: relative;
  overflow: hidden;
}
.zoom img {
  transition: all 0.2s linear;
}
.zoom:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/*----  Cards Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 20px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img
{
    -webkit-transition: all .9s ease; 
    -moz-transition: all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}